name: Cache Workflow

on:
  push:
    branches:
      - main

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-ebcda13

      - name: prime-cache-ebcda13
        run: echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"
